<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<components>
     <component id="person.repository" 
                type="DAL.LinqPersonRepository, DAL" 
                service="DAL.IPersonRepository, DAL" 
                lifestyle="singleton" />
     
     <component id="person.service" 
                type="Services.PersonService, Services" 
                service="Services.IPersonService, Services" 
                lifestyle="transient" />
	</components>
</configuration>