<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <facilities>
        <facility id="integration.facility" 
                  type="Castle.MonoRail.WindsorExtension.RailsFacility, Castle.MonoRail.WindsorExtension" />
        <facility id="loggingfacility" 
                  type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging" 
                  loggingApi="Log4net" configFile="__config\logging.config" />
    </facilities>
</configuration>
